appdirs==1.4.4
astunparse==1.6.3
attrs==25.4.0
autograd==1.8.0
autoray==0.8.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
cirq-core==1.6.1
cirq-pasqal==1.6.1
contourpy==1.3.3
cycler==0.12.1
diastatic-malt==2.15.2
duet==0.2.9
fonttools==4.60.1
gast==0.6.0
idna==3.11
kiwisolver==1.4.9
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pennylane==0.43.0
pennylane-lightning==0.43.0
pillow==12.0.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
rustworkx==0.17.1
scipy==1.16.3
scipy-openblas32==0.3.30.0.7
six==1.17.0
sortedcontainers==2.4.0
sympy==1.14.0
termcolor==3.2.0
tomlkit==0.13.3
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
