appdirs
autograd
autoray
cachetools
certifi
charset-normalizer
cirq-core
cirq-pasqal
cycler
deprecation
duet
future
google-api-core
googleapis-common-protos
idna
iniconfig
ipython-genutils
jsonschema
jupyter-core
kiwisolver
matplotlib
mpmath
nbformat
networkx
ninja
numpy
openfermion
openfermionpyscf
packaging
pandas
PennyLane
PennyLane-Cirq
PennyLane-Lightning
Pillow
pluggy
protobuf
PubChemPy
py
pyparsing
pyrsistent
pyscf
pytest
python-dateutil
pytz
requests
retworkx
scipy
semantic-version
six
sortedcontainers
sympy
toml
tqdm
traitlets
typing_extensions
urllib3