alabaster==0.7.12
appdirs==1.4.4
attrs==20.3.0
autograd==1.4
autoray==0.3.1
backports.cached-property==1.0.1
Babel==2.9.1
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.12
cirq==0.14.1
cirq-core==0.14.1
cirq-pasqal==0.14.1
cycler==0.10.0
decorator==5.1.1
deprecation==2.1.0
docutils==0.16.0
duet==0.2.5
fonttools==4.32.0
future==0.18.2
google-api-core==1.31.5
google-auth==1.35.0
googleapis-common-protos==1.56.0
idna==2.10
imagesize==1.3.0
importlib-metadata==3.10.1
iniconfig==1.1.1
ipython-genutils==0.2.0
Jinja2==3.1.1
jsonschema==3.2.0
jupyter-core==4.8.1
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mpmath==1.2.1
nbformat==5.1.3
networkx==2.6.3
ninja==1.10.2.3
numpy
openfermion==1.3.0
openfermionpyscf==0.5
packaging==21.0
pandas==1.3.5
pennylane==0.23.0
PennyLane-Lightning==0.23
Pillow==9.1.1
pluggy==1.0.0
protobuf==3.15.0
PubChemPy==1.0.4
py==1.11.0
Pygments==2.11.2
pyparsing==2.4.7
pyrsistent==0.18.0
pyscf==1.7.6
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
requests==2.27.1
retworkx==0.11.0
scipy==1.7.3
semantic-version==2.6.0
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.3.2
sphinx-automodapi==0.14.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.9
toml==0.10.2
tqdm==4.64.0
traitlets==5.1.0
typing_extensions==3.10.0.0
urllib3==1.26.9
# Do not pin the following
pennylane-sphinx-theme
zipp==3.8.0
