name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools>=75.8.1
          pip install -r requirements-ci.txt
          pip install qsimcirq
          pip install --upgrade git+https://github.com/PennyLaneAI/pennylane.git#egg=pennylane
          pip install wheel pytest pytest-cov pytest-mock --upgrade

      - name: Install Plugin
        run: |
          python setup.py bdist_wheel
          pip install dist/pennylane*.whl

      - name: Run tests
        run: python -m pytest tests --cov=pennylane_cirq --cov-report=term-missing --cov-report=xml -p no:warnings --tb=native

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.codecov_token }}
          file: ./coverage.xml

  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools>=75.8.1
          pip install -r requirements-ci.txt
          pip install qsimcirq
          pip install --upgrade git+https://github.com/PennyLaneAI/pennylane.git#egg=pennylane
          pip install wheel pytest pytest-cov pytest-mock pytest-benchmark flaky --upgrade

      - name: Install Plugin
        run: |
          python setup.py bdist_wheel
          pip install dist/pennylane*.whl

      - name: Run tests
        run: |
          pl-device-test --device=cirq.simulator --tb=short --skip-ops --analytic=True --cov=pennylane_cirq --cov-report=xml
          pl-device-test --device=cirq.simulator --tb=short --skip-ops --analytic=False --shots=20000 --cov=pennylane_cirq --cov-report=xml
          pl-device-test --device=cirq.mixedsimulator --tb=short --skip-ops --analytic=True --cov=pennylane_cirq --cov-report=xml
          pl-device-test --device=cirq.mixedsimulator --tb=short --skip-ops --analytic=False --shots=20000 --cov=pennylane_cirq --cov-report=xml
          pl-device-test --device=cirq.pasqal --tb=short --skip-ops --analytic=False --shots=20000 --device-kwargs control_radius=2. --cov=pennylane_cirq --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.codecov_token }}
          file: ./coverage.xml
